<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>商品列表</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" type="text/css" href="css/login.css">
        <link rel="stylesheet" href="/css/xadmin.css">
        <script src="/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/xadmin.js"></script>
    </head>
    
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="./"><cite>首頁</cite></a>
            </span>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <form action="ProductDel" method="post" accept-charset="utf-8">
                            <div class="layui-card-header">
                                <button class="layui-btn layui-btn-danger">
                                    <i class="layui-icon"></i>刪除</button>
                                <button type="button" class="layui-btn" onclick="javascript: location.href='./product_add'">
                                    <i class="layui-icon"></i>添加</button></div>
                            <div class="layui-card-body ">
                                <table class="layui-table layui-form">
                                    <thead>
                                            <th>
                                                <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                                            </th>
                                            <th>商品編號</th>
                                            <th>商品名稱</th>
                                            <th>商品金額</th>
                                            <th>商品數量</th>
                                            <th>操作</th></tr>
                                    </thead>
                                    <tbody>
                                        <% for ( var i = 0 ; i < data_list.length ; i++){ %>
                                            <tr>
                                                <td>
                                                    
                                                    <input type="checkbox" name='id' value="<%=data_list[i].id%>" lay-skin="primary"> 
                                                <td><%= data_list[i].id%></td>
                                                <td><%= data_list[i].name%></td>
                                                <td><%= data_list[i].price%></td>
                                                <td><%= data_list[i].quantity%></td>
                                                <td class="td-manage">
                                                    <a title="更新" href="./product_edit?id=<%=data_list[i].id%>" >
                                                        <i class="layui-icon">&#xe642;</i></a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="layui-card-body ">
                                <div class="page">
                                    <div>
                                        <a class="prev" href="">&lt;&lt;</a>
                                        <span class="current" href="">1</span>
                                        <!--<a class="current">2</a>
                                        <a class="num" href="">3</a>
                                        <a class="num" href="">489</a>-->
                                        <a class="next" href="">&gt;&gt;</a></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        layui.use(['laydate', 'form'],function() {
            var laydate = layui.laydate;
            var  form = layui.form;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });
            
            form.on('checkbox(checkall)', function(data){
                if(data.elem.checked){
                    $('tbody input').prop('checked',true);
                }else{
                    $('tbody input').prop('checked',false);
                }
                form.render('checkbox');
            }); 
            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });
        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？',
            function(index) {
                //发异步删除数据
                $(obj).parents("tr").remove();
                layer.msg('已删除!', {
                    icon: 1,
                    time: 1000
                });
            });
        }
        
        function delAll (argument) {
            var ids = [];

            // 获取选中的id 
            $('tbody input').each(function(index, el) {
                if($(this).prop('checked')){
                ids.push($(this).val())
                }
            });
    
            layer.confirm('确认要删除吗？'+ids.toString(),function(index){
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', {icon: 1});
                $(".layui-form-checked").not('.header').parents('tr').remove();
            });
        } 
        </script>

</html>